<app-navbar></app-navbar>
<div style="padding:20px" class="container">
  <h1  class="mat-h1">Cerita Pendek</h1>
  <mat-tab-group>
    <mat-tab label="0-20pt">
      <div style="padding:5px 20px 0px 20px">
        <a class="mat-h2" style="margin-bottom: 0;text-decoration: none;color:black" href="google.com">Judul Cerita <small>(20pt)</small></a>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;"><a>Judul Cerita</a></h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <a class="mat-h2" style="margin-bottom: 0;text-decoration: none;color:black" href="google.com">Judul Cerita<small>(20pt)</small></a>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;"><a>Judul Cerita</a></h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
    </mat-tab>
    <mat-tab label="20-50pt"> Content 2 </mat-tab>
    <mat-tab label="50-100pt"> Content 3 </mat-tab>
    <mat-tab label=">100pt"> Content 4 </mat-tab>
  </mat-tab-group>
</div>