<style>
  a{
    margin-bottom: 0;text-decoration: none;color:#3f51b5
  }

  .item-cerita{
    /* border-bottom: 1px solid #ccc; */
    /* width: 300px; */
    padding:5px 20px 0px 20px
  }
</style>
<app-navbar></app-navbar>
<div style="padding:20px" class="container">
  <h1  class="mat-h1">Cerita Pendek</h1>
  <mat-tab-group>
    <mat-tab label="0-20pt">
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Kota Orang-orang Mati <small>(8pt)</small></a>
        <p>Diposting oleh <a>somebody</a> pada Oktober 5 2020</p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Mencari Belu <small>(12pt)</small></a>
        <p>Diposting oleh <a>Shinichi</a> pada Oktober 3 2020 </p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Tidak Ada Pesan Moral <small>(20pt)</small></a>
        <p>Diposting oleh <a>Dayeuh</a> pada Oktober 1 2020 </p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Sayap Kupu-kupu<small>(8pt)</small></a>
        <p>Diposting oleh <a>TiaRahma</a> pada September 20 2020</p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Alien <small>(12pt)</small></a>
        <p>Diposting oleh <a>Zeth</a> pada September 20 2020 </p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Rumah Donat di Ujung Jalan <small>(20pt)</small></a>
        <p>Diposting oleh <a>Dayeuh</a> pada September 18 2020 </p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Tidak Ada Pesan Moral <small>(20pt)</small></a>
        <p>Diposting oleh <a>Dayeuh</a> pada Oktober 1 2020 </p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Sayap Kupu-kupu<small>(8pt)</small></a>
        <p>Diposting oleh <a>TiaRahma</a> pada September 20 2020</p>
      </div>
    </mat-tab>
    <mat-tab label="20-50pt"> Content 2 </mat-tab>
    <mat-tab label="50-100pt"> Content 3 </mat-tab>
    <mat-tab label=">100pt"> Content 4 </mat-tab>
  </mat-tab-group>
</div>