<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
  </button> -->
  <span>BagiCerita</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button color="primary" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button color="primary" class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
  </button> -->
  <div *ngIf="isLoggedIn;then thenBlock;else elseBlock"></div>
  <ng-template #thenBlock>
    <a mat-button (click)="openLogin()">{{user}}</a>
    <a mat-button (click)="logout()">Logout</a>
  </ng-template>
  <ng-template #elseBlock>
    <a mat-button (click)="openLogin()">Login</a>
    <a mat-button (click)="openRegister()">Register</a>
  </ng-template>
</mat-toolbar>
<div style="padding:20px" class="container">
  <h1  class="mat-h1">Cerita Pendek</h1>
  <mat-tab-group>
    <mat-tab label="0-20pt">
      <div style="padding:5px 20px 0px 20px">
        <a class="mat-h2" style="margin-bottom: 0;text-decoration: none;color:black" href="google.com">Judul Cerita <small>(20pt)</small></a>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;"><a>Judul Cerita</a></h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <a class="mat-h2" style="margin-bottom: 0;text-decoration: none;color:black" href="google.com">Judul Cerita<small>(20pt)</small></a>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;"><a>Judul Cerita</a></h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
      <div style="padding:5px 20px 0px 20px">
        <h2 class="mat-h2" style="margin-bottom: 0;">Judul Cerita</h2>
        <p>Diupload oleh somebody pada Januari 7 2020</p>
      </div>
    </mat-tab>
    <mat-tab label="20-50pt"> Content 2 </mat-tab>
    <mat-tab label="50-100pt"> Content 3 </mat-tab>
    <mat-tab label=">100pt"> Content 4 </mat-tab>
  </mat-tab-group>
</div>