<style>
    .cerita{
        padding-top:20px;
    }
</style>
<div class="cerita">
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Kota Orang-orang Mati <small>(8pt)</small></a>
      <p>Diposting oleh <a>somebody</a> pada Oktober 5 2020</p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Mencari Belu <small>(12pt)</small></a>
      <p>Diposting oleh <a>Shinichi</a> pada Oktober 3 2020 </p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Tidak Ada Pesan Moral <small>(20pt)</small></a>
      <p>Diposting oleh <a>Dayeuh</a> pada Oktober 1 2020 </p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Sayap Kupu-kupu<small>(8pt)</small></a>
      <p>Diposting oleh <a>TiaRahma</a> pada September 20 2020</p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Alien <small>(12pt)</small></a>
      <p>Diposting oleh <a>Zeth</a> pada September 20 2020 </p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Rumah Donat di Ujung Jalan <small>(20pt)</small></a>
      <p>Diposting oleh <a>Dayeuh</a> pada September 18 2020 </p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Tidak Ada Pesan Moral <small>(20pt)</small></a>
      <p>Diposting oleh <a>Dayeuh</a> pada Oktober 1 2020 </p>
    </div>
    <div class="item-cerita">
      <a class="mat-h2" href="google.com">Sayap Kupu-kupu<small>(8pt)</small></a>
      <p>Diposting oleh <a>TiaRahma</a> pada September 20 2020</p>
    </div>
    <div class="item-cerita">
        <a class="mat-h2" href="google.com">Tidak Ada Pesan Moral <small>(20pt)</small></a>
        <p>Diposting oleh <a>Dayeuh</a> pada Oktober 1 2020 </p>
      </div>
      <div class="item-cerita">
        <a class="mat-h2" href="google.com">Sayap Kupu-kupu<small>(8pt)</small></a>
        <p>Diposting oleh <a>TiaRahma</a> pada September 20 2020</p>
      </div>
  </div>